@value theme: "../theme.css";
@value breakpointSm, size2x, size4x, sizeHeaderHeight from theme;

.mainAndFooter {
  position: relative;
  margin-top: sizeHeaderHeight;
  min-height: calc(100vh - sizeHeaderHeight);
}

.main {
  padding-top: size4x;
  /* Maximum height for the footer */
  padding-bottom: 102px;
  margin: 0 auto;
  max-width: 720px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: breakpointSm) {
  .main {
    padding-top: 0;
    padding-left: size4x;
    padding-right: size4x;
  }
}
