@value theme: "../theme.css";
@value breakpointSm, size2x, size4x from theme;

.mainAndFooter {
  margin-top: var(--sizeHeaderHeight);
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: size4x 0;
  margin: 0 auto;
  max-width: 720px;
  min-height: calc(100vh - var(--sizeHeaderHeight));
}

@media (max-width: breakpointSm) {
  .main {
    padding-top: size2x;
    padding-left: size4x;
    padding-right: size4x;
  }
}
