@value theme: '../../../components/theme.css';
@value colorBrand, colorBackgroundDefaultLight, size2x, size3x from theme;

.header {
  text-align: center;
  letter-spacing: 4.5px;
  background-color: colorBrand;
}

.intro {
    padding: 32px 0;
    margin: 0 auto;
    max-width: 1350px;
}

.header > h2 {
  margin: 0;
  padding: size3x 0;
}

.container > *:nth-child(odd) {
  background-color: colorBackgroundDefaultLight;
}
