@value theme: '../../../components/theme.css';
@value colorBrand, colorBackgroundDefaultLight, size2x, size3x from theme;

.header {
  text-align: center;
  letter-spacing: 4.5px;
  background-color: colorBrand;
}

.header > h2 {
  margin: 0;
  padding: size3x 0;
}

.container > *:nth-child(even) {
  background-color: colorBackgroundDefaultLight;
}
