@value theme: "../../style/theme.css";
@value breakpointSm from theme;

.root {
  max-width: var(--containerMaxWidth);
  display: flex;
  margin: 0 auto;
}

.root > *:first-child {
  flex: 0 0 440px;
}

.root > *:last-child {
  flex: 1 1 auto;
  padding: 0 var(--size8x);
  max-width: 832px;
}

.root p {
  text-align: justify;
}

@media (max-width: breakpointSm) {
  .root {
    flex-direction: column;
  }

  .root > *:first-child {
    flex: 1 1 auto;
  }

  .root > *:last-child {
    padding: 0 var(--size4x);
  }
}
