.mainWithFooter {
  margin-top: var(--headerHeight);
  min-height: calc(100vh - var(--headerHeight));
  position: relative;
}

.mainWithFooter > footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
