.root img {
  display: inline;
}

.notLoaded {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  visibility: visible;
  animation: fadeIn 1s ease;
}
