@value theme: "../../../components/theme.css";
@value colorBackgroundNavigation, size2x, sizeHeaderHeight, listReset from theme;

.root {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.solid {
  background-color: colorBackgroundNavigation;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.list {
  composes: listReset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: sizeHeaderHeight;
}

.list li {
  margin: 0 size2x;
}
