@value theme: "../../../components/theme.css";
@value colorBackgroundNavigation, size2x, sizeHeaderHeight, listReset, breakpointXs, shadowSvgIconCssFilter from theme;

.root {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.root svg {
  display: block;
  height: 32px;
  filter: shadowSvgIconCssFilter;
}

.solid {
  background-color: colorBackgroundNavigation;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.list {
  composes: listReset;
  display: flex;
  align-items: center;
  height: sizeHeaderHeight;
}

.list li {
  margin: 0 size2x;
}

.list li:first-child {
  /* align with the same Home Icon in navigation */
  margin-left: 6px;
}

@media (min-width: breakpointXs) {
  .list {
    justify-content: center;
  }

  .list li:first-child {
    /* align with the same Home Icon in navigation */
    margin-left: initial;
  }
}
