@value theme: "../../components/theme.css";
@value colorBackgroundNavigation, size2x, sizeHeaderHeight from theme;

.root {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.root nav {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: background-color 0.3s, opacity 0.3s;
}

.root nav.navSolid {
  background-color: colorBackgroundNavigation;
}

.root nav.navFaded {
  opacity: 0;
}

.root nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: sizeHeaderHeight;
}

.root nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 size2x;
}
