@value colorBlack: #000000;
@value colorWhite: #ffffff;

@value colorTextDefault: #a8a8a8;
@value colorTextHighlight: colorWhite;

@value colorLinkDefault: colorWhite;
@value colorLinkActive: #f06000;
@value colorLinkHover: #b6866f;

@value breakpointXs: 576px;
@value breakpointSm: 768px;
@value breakpointMd: 992px;
@value breakpointLg: 1200px;

.darkText {
  color: colorBlack;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

:root {
  --size1x: 8px;
  --size2x: calc(2 * var(--size1x));
  --size3x: calc(3 * var(--size1x));
  --size4x: calc(4 * var(--size1x));
  --size5x: calc(5 * var(--size1x));
  --size6x: calc(6 * var(--size1x));
  --size7x: calc(7 * var(--size1x));
  --size8x: calc(8 * var(--size1x));

  --headerHeight: 48px;
  --footerHeight: 64px;

  --containerMaxWidth: 1350px;

  --linkColorHover: #b6866f;

  --backgroundColorPrimary: rgb(49, 36, 80);
  --backgroundColorSecondary: #2b2b2b;
  --backgroundColorNavigation: #333;
  --backgroundColorProject1: var(--backgroundColorSecondary);
  --backgroundColorProject2: #2b2b2bf5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: colorTextDefault;
  background-color: var(--backgroundColorSecondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* GENERAL */

h1,
h2,
h3,
h4 {
  color: colorTextHighlight;
}

a {
  color: colorLinkDefault;
  text-decoration: none;
}

a:hover {
  color: colorLinkHover;
}

a.active {
  color: colorLinkActive;
}

p {
  font-size: 16px;
  line-height: 30px;
}
