@value colorBlack: #000000;
@value colorWhite: #ffffff;

@value colorBrand: rgb(49, 36, 80);

@value colorBackgroundDefault: #2b2b2b;
@value colorBackgroundDefaultLight: #353535;
@value colorBackgroundNavigation: #333;

@value colorTextDefault: #a8a8a8;
@value colorTextHighlight: colorWhite;

@value colorLinkDefault: colorWhite;
@value colorLinkActive: #f06000;
@value colorLinkHover: #b6866f;

@value breakpointXs: 576px;
@value breakpointSm: 768px;
@value breakpointMd: 992px;
@value breakpointLg: 1200px;

@value size1x: 8px;
@value size2x: 16px;
@value size3x: 24px;
@value size4x: 32px;
@value size5x: 40px;
@value size6x: 48px;
@value size7x: 56px;
@value size8x: 64px;

@value shadowSvgIconCssFilter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));

:root {
  --sizeHeaderHeight: 64px;
  --sizeArrowDownIconSpaceBottom: 80px;
}

@media (min-width: breakpointXs) {
  :root {
    --sizeHeaderHeight: 48px;
    --sizeArrowDownIconSpaceBottom: size4x;
  }
}

/* PAGE RESET */

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: colorTextDefault;
  background-color: colorBackgroundDefault;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* GENERAL */

h1,
h2,
h3,
h4 {
  color: colorTextHighlight;
}

a {
  color: colorLinkDefault;
  text-decoration: none;
}

a:hover {
  color: colorLinkHover;
}

:global a.active {
  color: colorLinkActive;
}

p {
  line-height: 1.9;
}

img,
svg {
  display: block;
}

/* HELPERS */

.listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}
