@value theme: "../../../components/theme.css";
@value colorBrand, colorTextDefault, breakpointSm, size1x, size2x, size4x, size6x, size8x from theme;

@value sizeArrowDownIcon: size6x;
@value sizeArrowDownIconSpaceBottom: size4x;

.root {
  background-attachment: fixed;
  background-color: colorBrand;
  background-image: url(/assets/images/home/intro.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
}

.content {
  height: calc(100% - sizeArrowDownIcon - sizeArrowDownIconSpaceBottom);
  margin: 0 size1x;
  display: flex;
  flex-direction: column;
  max-width: 780px;
}

.headlineAndDescription {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.headline {
  font-size: calc(40px + 1vw);
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.description {
  color: colorTextDefault;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.highlightText {
  font-weight: 600;
}

.iconList {
  padding: 0;
}

.iconList li {
  display: inline-block;
  padding: 0;
  margin: 0 size2x;
}

.platformIcon {
  height: size4x;
  width: size4x;
}

.quote {
  display: none;
}

.arrowDownLink {
  position: absolute;
  left: 50%;
  bottom: sizeArrowDownIconSpaceBottom;
  transform: translateX(-50%);
}

.arrowDownLink > svg {
  display: block;
  height: sizeArrowDownIcon;
}

@media (min-width: breakpointSm) {
  .content {
    margin: 0 auto;
  }

  .quote {
    display: block;
    margin-bottom: size4x;
    /* Reserve 4 lines of text to avoid content jumping to frequently */
    min-height: 8rem;
  }
}
