@value theme: '../../../components/theme.css';
@value breakpointSm, size4x from theme;

.root {
  padding: size4x 0;
}

.photoContainer img {
  margin: auto;
  border-radius: 100%;
  max-width: 300px;
  height: auto;
}

@media (max-width: breakpointSm) {
  .photoContainer img {
    max-width: 150px;
  }
}
