@value theme: "../../components/theme.css";
@value breakpointSm, colorBrand, colorTextHighlight, size2x, size3x, listReset from theme;

.root {
  color: colorTextHighlight;
  background-color: colorBrand;
}

.list {
  composes: listReset;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
}

.list li {
  margin: size2x size3x;
}

@media (max-width: breakpointSm) {
  .list {
    text-align: center;
    flex-direction: column;
  }

  .list li:not(:last-child) {
    margin-bottom: 0;
  }
}
