@value theme: "../../components/theme.css";
@value breakpointSm, colorBrand, colorTextHighlight, size1x, size3x, listReset from theme;

.root {
  color: colorTextHighlight;
  background-color: colorBrand;
  min-height: var(--sizeHeaderHeight);
  padding: size1x 0;
}

.list {
  composes: listReset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list li {
  margin: size1x size3x;
}

.perfLinks {
  display: flex;
  align-items: center;
}

.pageSpeedInsightsLink {
  padding-top: 2px;
}

.webDevMeasureLink {
  /* background color of the PageSpeed Insights icon */
  background-color: #e3e3e3;
  padding: 11px 6px 4px;
  border-radius: 5px;
  margin-left: calc(2 * size3x);
}

@media (max-width: breakpointSm) {
  .list {
    text-align: center;
    flex-direction: column;
  }
}
