@value theme: "../../components/theme.css";
@value breakpointSm, colorBrand, colorTextHighlight, size2x, size3x from theme;

.root {
  color: colorTextHighlight;
  background-color: colorBrand;
}

.root ul {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  padding: 0;
  margin: 0;
}

.root li {
  list-style: none;
  margin: size2x size3x;
}

@media (max-width: breakpointSm) {
  footer ul {
    text-align: center;
    flex-direction: column;
  }

  footer li:not(:last-child) {
    margin-bottom: 0;
  }
}
