@value theme: '../../../../components/theme.css';
@value size6x, breakpointSm from theme;

.previewPictureContainer {
  align-self: center;
}

.previewPictureContainer img {
  max-width: 100%;
  height: auto;
  filter: brightness(0.9);
  /* chrome image downscale makes it look blurry. https://stackoverflow.com/a/42216003/2105988 */
  /* image-rendering: -webkit-optimize-contrast; */
}

.rightColumn {
  padding-bottom: size6x;
}

.externalLinkIcon {
  display: inline;
}

@media (max-width: breakpointSm) {
  .previewPictureContainer {
    flex: initial;
  }
}
