@value theme: '../../../../components/theme.css';
@value breakpointSm, darkText, size4x from theme;

.root {
  display: flex;
}

.root ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.root li {
  line-height: 1.5;
}

.title {
  composes: darkText;
}

@media (max-width: breakpointSm) {
  .root {
    flex-direction: column;
    margin-left: calc(-1 * size4x);
    margin-right: calc(-1 * size4x);
  }
}
