@value theme: '../../../../components/theme.css';
@value size1x, size2x, size4x, breakpointSm, listReset from theme;

.medalIcon {
  height: 60px;
  margin: 0 auto;
}

.bookIcon {
  height: 0.6em;
  position: absolute;
  top: 1em;
  transform: translateY(-50%);
}

.list {
  composes: listReset;
  margin-top: size1x;
}

.root li {
  position: relative;
  line-height: 2;
}

.title {
  margin-left: 1.5em;
}

@media (min-width: breakpointSm) {
  .root {
    display: flex;
    align-items: center;
  }

  .medalIcon {
    margin: 0;
    margin-right: size4x;
  }

  .list {
    margin: 0;
  }
}
