:root {
  --size1x: 8px;
  --size2x: calc(2 * var(--size1x));
  --size3x: calc(3 * var(--size1x));
  --size4x: calc(4 * var(--size1x));
  --size5x: calc(5 * var(--size1x));
  --size6x: calc(6 * var(--size1x));
  --size7x: calc(7 * var(--size1x));
  --size8x: calc(8 * var(--size1x));

  --topNavHeight: 48px;

  --containerMaxWidth: 1350px;

  --fontColorPrimary: #fff;
  --fontColorSecondary: #a8a8a8;

  --linkColorDefault: var(--fontColorPrimary);
  --linkColorActive: #f06000;
  --linkColorHover: #b6866f;

  --backgroundColorPrimary: rgb(49, 36, 80);
  --backgroundColorSecondary: #2b2b2b;
  --backgroundColorNavigation: #333;
  --backgroundColorProject1: var(--backgroundColorSecondary);
  --backgroundColorProject2: #2b2b2bf5;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

nav {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: background-color 0.3s, opacity 0.3s;
}

nav.nav-solid {
  background-color: var(--backgroundColorNavigation);
}

nav.nav-faded {
  opacity: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: var(--topNavHeight);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 var(--size2x);
}

/* INTRO */

#intro {
  background-attachment: fixed;
  background-color: var(--backgroundColorPrimary);
  background-image: url(/images/intro.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#intro #headline {
  font-size: calc(40px + 1vw);
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

#intro #description {
  color: var(--fontColorSecondary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  max-width: 780px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  margin: var(--size2x) var(--size1x);
}

#intro .inline-work-role {
  font-weight: 600;
}

#intro .inline-tech {
  font-weight: 600;
}

#intro .social {
  padding: 0;
}

#intro .social li {
  display: inline-block;
  padding: 0;
  margin: 0 var(--size2x);
}

#arrow-down-link {
  position: absolute;
  width: 48px;
  bottom: 32px;
}

/* ABOUT */

#about {
  background-color: var(--backgroundColorSecondary);
  padding: 96px 0;
}

#about .column {
  margin: 0 var(--size4x);
}

#about-photo {
  flex: 0 0 450px;
}

#about-photo > img {
  display: block;
  margin: auto;
  border-radius: 100%;
  max-width: 300px;
}

#about-text {
  flex: 1 1 auto;
  padding: 0 var(--size8x);
  max-width: 768px;
}

/* PROJECTS HEADER */

#projects-header {
  text-align: center;
  letter-spacing: 4.5px;
  background-color: var(--backgroundColorPrimary);
}

#projects-header h2 {
  margin: 0;
  padding: var(--size3x) 0;
}

/* PROJECTS */

.project:nth-child(odd) {
  background-color: var(--backgroundColorProject1);
}

.project:nth-child(even) {
  background-color: var(--backgroundColorProject2);
}

.project-preview-wrapper {
  flex: 0 0 450px;
  justify-content: center;
}

.project-preview {
  max-height: 100%;
  max-width: 100%;
  filter: brightness(0.9);
}

.project-comments {
  padding: var(--size4x) var(--size8x);
}

.project-delimiter {
  display: none;
}

/* FOOTER */

footer {
  color: var(--fontColorPrimary);
  background-color: var(--backgroundColorPrimary);
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  margin: var(--size2x) var(--size3x)
}

/* GENERAL */

h1, h2, h3, h4 {
  color: var(--fontColorPrimary);
}

a {
  color: var(--linkColorDefault);
  text-decoration: none;
}

a:hover {
  color: var(--linkColorHover);
}

a.active {
  color: var(--linkColorActive);
}

p {
  color: var(--fontColorSecondary);
  font-size: 16px;
  line-height: 30px;
}

.icon {
  height: var(--size4x);
  width: var(--size4x);
}

.external-link-icon {
  width: var(--size2x);
}

.badge {
  display: inline-block;
  color: var(--fontColorSecondary);
  padding: 4px;
  border: 2px solid;
}

.badge-container {
  margin: -4px -4px;
  text-align: left;
}

.badge-container > .badge {
  margin: 4px 4px;
}

.container {
  max-width: var(--containerMaxWidth);
  display: flex;
  margin: 0 auto;
}

.side-text {
  text-align: 'justify';
  padding: var(--size4x) var(--size8x);
  max-width: 768px;
}

.lazy-image {
  visibility: hidden;
}

.lazy-image.loaded {
  visibility: visible;
}

/* BREAKPOINTS */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #about-photo {
    flex: 0 0 150px;
  }

  #about-photo > img {
    max-width: 150px;
  }

  .project {
    flex-direction: column;
  }

  .project-preview-wrapper {
    flex: initial;
  }

  .project-delimiter {
    display: block;
  }

  footer ul {
    text-align: center;
    flex-direction: column;
  }

  footer li:not(:last-child) {
    margin-bottom: 0;
  }

  .side-text {
    /* ID specificity :'(
       Refactor using classes if this gets too messy.
    */
    padding-left: var(--size4x) !important;
    padding-right: var(--size4x) !important;
  }
}
