@value theme: '../../components/theme.css';
@value breakpointSm, size8x from theme;

.quote {
  margin: size8x 0;
  text-align: justify;
}

@media (max-width: breakpointSm) {
  .quote {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
  }
}
